.size {
  zoom: 15%;
  position: relative;
  margin-top: .2rem;
  z-index: 100;
}
#mario:hover{
  cursor: pointer;
}
#mario {
  background: url(http://bosssss.com/mario/box.gif);
  width: 200px;
  height: 200px;
  text-shadow: 2px 0 0 rgba(0, 0, 0, 0.1), 0 2px 0 rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5px;
  

}

#coin {
  position: relative;
  z-index: -1;
  top: 0;
  right: -6px;
  transform: translateX(-50%);
  zoom: 500%;
}

#coin.active {
  animation: coin-flip 1000ms;
}

@keyframes coin-flip {
  0% {
    top: 0;
  }
  40% {
    top: -30px;
  }
  41%{
    top: -30px;
  }
  70%{
    top: -29px;
  }
  100% {
    top: 0;
  }
}
